@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.lang > span {
  color: #8e8e91;
  font-size: 1rem;
  margin-left: 18px;
  cursor: pointer;
}
.lang {
  display: flex;
}

.lang__item {
  padding: 5px 10px;
  cursor: pointer;
}
.active {
  color: #000 !important;
}

.lang__item:hover {
  background-color: lightgray;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #0aa9b4;
  border-radius: 10px;
}
.select__region,
.search__input {
  padding: 20px;
  border: 0;
  outline: none;
}
.search__input {
  width: 100%;
}
.select__region {
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
.search > span {
  padding: 12px 20px;
  cursor: pointer;
}

.line {
  margin: 20px 0;
  height: 1px;
  background-color: #e9e9ea;
  border: 0;
}

/* MAIN */
.bar {
  background: #e9e9ea;
  border-radius: 10px;
  width: 100%;
  height: 654px;
}
.main__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
aside {
  max-width: 300px;
  width: 20%;
}
main {
  width: 80%;
}

.main__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 110%;
  color: #00315c;
}
.main__title > span {
  font-weight: 500;
}
main > p {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #4c4c50;
  padding: 20px 0;
}
.box__content {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  flex-wrap: wrap;

  background: #ffffff;
  border: 1px solid #e9e9ea;
  border-radius: 10px;
  padding: 30px;
}

.product img {
  width: 200px;
}
.product {
  display: flex;
  align-items: start;
  gap: 30px;
}
.filial,
.head__content {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  width: 50%;
}
.head__content--title > * {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #4c4c50;
  padding-bottom: 10px;
}
.filial > select {
  height: fit-content;
  padding: 10px 20px;
  border: 0;
  color: #0aa9b4;
}
.filial > select:focus {
  outline: none;
}

.box__content > h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  padding-top: 20px;

  color: #1f1f24;
}
.box__content > h4 > img {
  padding-right: 5px;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  max-width: 800px;
  width: 100%;
}

.phone {
  display: flex;
  align-items: start;

  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1f1f24;
}
.phone > img {
  padding: 10px 10px 0 0;
}
.phone > div > span {
  color: #0aa9b4;
}
.working--time h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #8e8e91;
}
.working--time {
  display: flex;
  align-items: start;
}
.working--time > img {
  padding: 10px 10px 0 0;
}
.working--time h5 > span {
  color: #4c4c50;
}
.network {
  display: flex;
  flex-direction: column;
}
.network > a {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #0aa9b4;
}
.box__content > p {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #1f1f24;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 20px;
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #bcbcbe;
}

.tab-header li {
  width: 100%;
  padding: 10px;
  font-weight: 300;
  font-size: 26px;
  line-height: 110%;
  color: #0aa9b4;
  cursor: pointer;
}

.tab-header li.active {
  border-bottom: 2px solid #00315c;
  color: #00315c;
  font-weight: 500;
}

.tab-content .tab-item {
  display: none;
  padding: 20px;
}

.tab-content .tab-item.active {
  display: block;
}

#show-number {
  border: 0;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #0aa9b4;
}

.tab-container::-webkit-scrollbar {
  display: none;
}

.prev-btn,
.next-btn {
  display: none;
}
.location {
  width: 100%;
}

.lang__select {
  display: none;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
  .prev-btn,
  .next-btn {
    display: block;
  }
  .tab-container {
    display: flex;
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .tab-header {
    overflow-x: scroll;
    position: relative;
  }
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    color: #0aa9b4;
    z-index: 1;
  }
  .prev-btn {
    left: 0px;
  }
  .next-btn {
    right: 0px;
  }
  .tab-header > li {
    font-size: 20px;
  }

  .filial {
    flex-wrap: wrap;
    justify-content: end;
  }
  .head__content--title > * {
    white-space: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .main__title {
    font-size: 26px;
  }
  .header__logo {
    width: 160px;
  }
  .menu__btn {
    width: 30px;
  }
  .lang__item {
    display: none;
  }
  .lang__select {
    display: block;
    width: 70px;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17l4.59-4.59L18,10l-6,6-6-6Z"/></svg>')
      no-repeat right center / 20px 20px;
  }
  aside {
    display: none;
  }
  main {
    width: 100%;
  }
  .filial {
    width: 100%;
    order: 1;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .filial > select {
    width: 170px;
  }
  .filial img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .product img {
    max-width: 200px;
    width: 100%;
  }
  .select__region,
  .search__input {
    padding: 0 5px;
  }
  .search span {
    display: none;
  }
  .search {
    padding: 10px 0;
  }
  .description {
    order: 2;
    padding-top: 20px;
  }
  .navbar {
    gap: 10px;
  }
  .contact {
    flex-direction: column;
    align-items: start;
  }
  .tab-header {
    display: inline;
  }
  .prev-btn,
  .next-btn {
    display: none;
  }
}
